@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&family=Rajdhani:wght@400;500&display=swap');
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
.App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Exo', 'Rajdhani',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 20px;
  width: fit-content;
  block-size: fit-content;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.example{
  display: flex;
  border:#282c34 solid 2px;
}
#about-info{
  width: 70%
}
#about-header{
  display: flex;
  justify-content: space-around;
}
#back-button{
  background-color: rgba(134, 42, 42, 0.733);
  color: white;
  border: #fab700 solid 2px;
  padding: 2px;

}
#list{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}
#table{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 

}
.overall{
  /* width: 4%; */
  width: 35px;
  height: 100%;
  font-size: 5vw;
  border: black 1px solid;
 
  display: flex;
  flex-direction: column;
}
.overall-table{
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  width: 25px; 
  height: 25px;
  text-align: center;
}
.direction{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#clicked-box{
  background-color: #fab700;
}
.answer-box{
  display: flex;
  justify-content: space-around;
}
.table-answer{
  padding-left: 6px;
  padding-right: 6px;
  border-right: #282c34 solid 2px;
}
.character{
  width: 100%;
  font-size: 20px;
  border: black 1px solid;
  text-align: center;

}
.character-table{
  cursor: default;

}
.box{
  width: 100%;
  font-size: 20px;
  height: 3.15vh;
  border: black 1px solid;
  text-align: center;
}
#intro{
  text-align: center;
  color: #fab700;
  cursor:default;
}
.header-item{
  color: white;

}
.buttons{
  display: flex;
  justify-content: center;

}
#char-numbers{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 85%;
  font-weight: 500;
  border-bottom: #282c34 solid 2px;

}
.char-number{
  display: flex;
  justify-content: center;
  width: 20%;
  font-size: 20px;

} 
 #nav-bar{
  width: 100%;
  background-color: #3c3f46;
}
#home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.character-answer{
  font-size:40px;
}
.answer-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
}
#heading{
  width: 100vw;
  height: 100%;
  background-color: #3c3f46;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: sticky;
}
#encrypter-buttons{
  display: flex;
  justify-content: center;
}
#print-chart{
  font-size: medium;
}
@keyframes about-fade {
  from {color: white;}
  to {color: #fab700;}
}
#about{
  padding-top: 4px;
}
#about:hover{
  cursor: pointer;
  color: #fab700;
  padding-top: 4px;
  animation-name: about-fade;
  animation-duration: 0.4s;
}
.square{
background-color: transparent;

}
.square-highlight{
  background-color: rgb(15, 172, 98);
}